
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/* App.css */

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.App-header {
  background-color: #003135;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 2rem;
}

.container {
  margin-top: 30px;
  max-width: 100%;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.custom-label {
  margin-top: 1.5rem !important;
  font-size: 1.5rem;
  font-weight: 200;
}

.custom-check .form-check-label {
  margin-right: -100px;
  font-size: 1.5rem;
  font-weight: 200;
}

.form-group {
  margin-bottom: 1rem;
}

.form-check-input {
  margin-top: 0.3rem;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 500;
  font-family: 'Centra', sans-serif;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-control {
  padding-right: 30px; /* Ensure enough space for the icon */
}


/* Back to List */
.btn-secondary {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  
  background-color: #544de2;
  cursor: pointer;
  margin-top: 25px;
}

.btn-secondary:hover {
  color: white;
  background-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

/* Create and Edit ToDo Pages */
.formbold-main-wrapper {
  display: flex;
  justify-content: center;
}

.CreateToDo-form-wrapper,
.EditToDo-form-wrapper {
  width: 100%;
  max-width: 570px;
  background: white;
  padding: 40px;
  margin-top: 10px;
}

.formbold-form-label {
  color: #07074d;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
  margin-bottom: 20px;
}

.formbold-input-group {
  margin-bottom: 20px;
}

.formbold-input-radio-wrapper {
  margin-bottom: 20px;
}

.formbold-radio-flex {
  display: flex;
  justify-content: center;
}

.formbold-radio-group {
  margin-right: 10px;
}

.btn-secondary {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #544de2;
  cursor: pointer;
  margin-top: 25px;
}

.btn-secondary:hover {
  color: white;
  background-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.CreateToDo-submit-btn,
.EditToDo-submit-btn {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.CreateToDo-submit-btn:hover,
.EditToDo-submit-btn:hover {
  background-color: #544de2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

/* Table List */
.table-custom {
  width: 100%;
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  border: 2px solid #000000;
  border-collapse: collapse; 
}

.table-custom th,
.table-custom td {
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #000000;
}

.table-custom thead th {
  vertical-align: bottom;
  font-family: 'Centra', sans-serif;
  font-weight: 500;
  background-color: #afdde5;
}

.table-custom tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-custom th {
  font-weight: 500;
  background-color: #afdde5;
}

.table-custom tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}

.table-custom-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}